@font-face{
	font-family: 'Nunito';
	scr: url('assets/Nunito/Nunito-Regular.ttf');
}
*{
	font-family: 'Nunito';
}
/* Global */
.navbar {
	background-color: #fff;
	padding-left: 150px;
	padding-right: 150px;
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));
}
/* footer */
.footer {
	background-color: #2C5D64;
	color: azure;
	font-family: 'Nunito';
	padding-top: 20px;
}

.footer img{
	height: 100%;
}
.copyright{
	padding-top: 10px;
}

.footer-content ul {
	list-style: none;
	margin: 0;
    padding: 0;
}
.footer .footer-content{
	margin-top: 20px;
}
.footer .card-text li{
	margin-top: 10px;
}
.foot-line{
	border-top: 2px solid #FDE74C;
}
.footer .app-download{
	height: 50px;
	margin-bottom: 10px;
}

/* Global End */

/*index.html*/
.home {
	padding-top: 140px;
	background-color: #D2E4E7;
	height: 500px;
}
.gambar-home {
	float: right;
}
.kotak {
	background-color: #fff;
	width: 110px;
	height: 130px;
	box-shadow: 1px 1px 3px rgba(0,0,2,0.5);
	border-radius: 5px;
	float: left;
	margin-left: 15px;
}
.isi {
	height: 500px;
	background-color: #fff;
}
.layanan-khusus .container{
	padding : 30px auto !important;
}
.layanan-khusus .row{
	margin-top: 50px;
}
.layanan-khusus img{
	height: 100px;
}
.layanan-khusus h2{
	border-bottom: solid 1px lightgray;
}
.layanan-khusus img{
	margin-bottom: 20px;
}
.layanan-khusus a{
	color: black;
}
.layanan-khusus a:hover{
	text-decoration: none;
}

.poster .jumbotron{
 background-image: url(../assets/img/man-w-phone.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 min-height: 500px;
}
.poster h2{
	font-weight: 700;
	margin-top: 100px;
}
.home-artikel .card{
  border-radius: 30px;
	min-height: 325px;
}
.home-artikel .card img{
	border-radius: 30px 30px 0 0; 
}
/*artikel*/
.artikel{
	min-height: 700px;
	background-color: #fff;
	padding-top: 100px;
}
.text-penjelas, p  {
	font-size: 13px;
	font-family: 'Nunito';
}
.btn-baru {
	background-color: #D2E4E7;
	font-size: 13px;
}
.tag-artikel{
	position: fixed;
	bottom: 0;
	padding-bottom: 10px;
}
.artikel .card-body{
	min-height: 225px;
}
.langkah .card{
	margin-top: 20px;
	border: 1px solid #3b5c61;
	border-radius: 10px;
	filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.5));
}
.langkah .card-subtitle{
	color: #2C5D64;
}

/*about*/
.poster-about1 .jumbotron {
 background-image: url(../assets/img/stetoskop.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 height: 600px;
}

.poster-about1 h1 {
	font-weight: 400;
	margin-top: 380px;
}
.poster-about1 h3 {
	font-weight: 500;
}
.slide-2about span {
	color: #74CBD7;
}
.poster-about2 .jumbotron {
	background-image: url(../assets/img/face.jpg);
	 background-size: cover;
	 background-repeat: no-repeat;
	 height: 500px;
}
.poster-about2 h1 {
	font-weight: 400;
	margin-top: 300px;
}

/*obatvitamin*/
.obatvitamin {
	padding-top: 100px;
	background-color: #fff;
}
.kotak-obat {
	background-color: #fff;
	width: 110px;
	height: 130px;
	box-shadow: 1px 1px 3px rgba(0,0,2,0.5);
	border-radius: 5px;
	float: left;
	margin-left: 15px;
}
.obatvitamin, .card-title {
	font-size: 17px;
}
.cari { border-radius: 25px; }


/*tanyadokter*/
.tanyadokter {
	height: 760px;
	background-color: #fff;
	padding-top: 100px;
}
.btn-danger, .chat {
	margin-left: 85px;
}
.card-text {
	font-size: 15px;
}
.card {
	filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));
}
.card-footer {
	font-size: 13px;
}
.icon-cari input {
	padding-left: 40px;
}
.icon-cari {
	position: relative;
}
.icon-cari i {
	position: absolute;
	left: 5px;
	top: 3px;
	padding: 9px 8px;
}

.info .title{
	color: #324d52;
}

/*halaman about*/

